page-novo-chamado {

    ion-title{
        text-align: center;
    }
     
    #tituto-foto{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.7em;
        text-align: center;
    }
}
