<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon  name="menu"></ion-icon>
    </button>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="conteudo">
  <ion-content>
      <ion-item id="cabecalho-menu" class="cabecalho-menu">
          <div>
              <ion-avatar item-start>
                  <img src="./assets/img/avatar.png">
              </ion-avatar>
          </div>
          <h2>{{usuarioLogado?.nome}}</h2>
          <p>{{usuarioLogado?.email}}</p>
      </ion-item>
      <ion-list>
          <button ion-item menuClose *ngFor="let menu of menus" (click)="irParaPagina(menu.page)">
              <ion-icon [name]="menu.icone" item-right></ion-icon>
              {{ menu.nome }}
          </button>
      </ion-list>
  </ion-content>
</ion-menu>
<ion-nav swipeBackEnabled="false" #conteudo></ion-nav>

<ion-content padding class="background-page">
  <ion-item text-center>
      <h1>Chamados</h1>
  </ion-item>
  <ion-toolbar *ngIf="!usuarioLogado?.administrador" no-border-top color="primary">
    <ion-segment color="light"  [(ngModel)]="segment" (ionChange)="filtraChamados($event)">
      <ion-segment-button value="todos">
        <span class="bold">Todos os Chamados</span>
      </ion-segment-button>
      <ion-segment-button value="seus">
        <span class="bold">Seus Chamados</span>
      </ion-segment-button>
    </ion-segment>  
  </ion-toolbar>
   <ion-grid>
    <ion-item-divider color="light">
      <ion-row>
      <ion-col>Tipo</ion-col>
      <ion-col>Prioridade</ion-col>
      <ion-col>Local</ion-col>
      </ion-row>
    </ion-item-divider>
    <h4 text-center *ngIf="!chamados?.length">Nenhum Chamado...</h4>
    <ion-item-divider class="cursor" *ngFor="let chamado of chamados" (click)="detalhaChamado(chamado)">  
      <ion-row>
        <ion-col>
          {{chamado.tipo}}
        </ion-col>
        <ion-col>
          {{chamado.prioridade}}
        </ion-col>
        <ion-col>
          {{chamado.local}}
        </ion-col>
      </ion-row>
    </ion-item-divider>
  </ion-grid>

  <ion-fab  bottom right #fab>
    <button color="green" ion-fab (click)="novoChamado()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab  bottom left #fab>
    <button color="primary" ion-fab><ion-icon name="refresh"></ion-icon></button>
  </ion-fab>
</ion-content>
